body {
  background-color: #ffe3e1;
  font-family: "Space Grotesk", sans-serif;
}
a {
  color: #e84545;
}
.wheather-app {
  background: #ffe3e1;
  max-width: 750px;
  margin: 45px auto;
  box-shadow: 0 30px 50px #8338ec (65, 50, 100, 0.08);
  border-radius: 15px;
  padding: 30px;
}
header {
  border-bottom: 1px solid #393e46;
  padding: 0 0 30px 0;
}

.search-form-input {
  background: #fff5e4;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
  width: 100%;
}
.search-form-button {
  background: #ff2e63;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
  width: 100%;
}

main {
  padding: 30px 0;
}
.weather-info {
  display: flex;
  justify-content: space-between;
}
.weather-info-city {
  color: #2b2e4a;
  font-size: 38px;
  margin-top: 6px;
}

.weather-info-details {
  color: #40514e;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.weather-info-temperature {
  display: flex;
}
.weather-info-details strong {
  color: #00adb5;
}

.weather-info-icon {
  font-size: 44px;
  padding-top: 5px;
}

.weather-info-value {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.weather-info-unit {
  margin-top: 24px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
}

.weather-forecast-day {
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #27214266;
  font-weight: 500;
}
.weather-forecast-icon img {
  width: 45px;
}
.weather-forecast-temperature {
  display: flex;
  justify-content: space-evenly;
}
.weather-forecast-max,
.weather-forecast-min {
  font-size: 16px;
  color: #3f72af;
  font-weight: 500;
}

.weather-forecast-min {
  opacity: 0.7;
  padding-left: 5px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 18px;
  color: #20a4f3 (0, 0, 0, 0.7);
  font-family: "Yanone Kaffeesatz", sans-serif;
}
